
 {% extends 'base.html.twig' %}


  {% block body %}
<h1>Bienvenue dans ce blog!</h1>
<p> Shamsuddin Ahammadon 11/26/20135 comments
If you do not close the java.util.Scanner object after reading data, you can get an warning saying "Resource leak: 'scanner' i... </p>

{% endblock %}


